@import 'tailwindcss';

@theme {
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
}

:root {
  --background: #ffffff;
  --surface: #f8fafc;
  --surface-hover: #f1f5f9;
  --border: #e2e8f0;

  --text: #0f172a;
  --text-secondary: #64748b;
  --text-muted: #94a3b8;
}

.dark {
  --background: #0f172a;
  --surface: #1e293b;
  --surface-hover: #334155;
  --border: #334155;

  --text: #f8fafc;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
}
